*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;

	&.overflow-hidden {
		overflow: hidden;
	}
}

.default-layout {
	max-width: 124.8rem;
	margin: 0 auto;
	padding: 1.5rem 1.6rem 2.4rem;

	@media screen and (min-width: 600px) {
		padding: 4.8 2rem 9rem;
	}

	@media screen and (min-width: 992px) {
		padding: 4.8rem 3.2rem 9rem;
	}
}
