// TEXT UTULITIES
.text-capitalize {
	text-transform: capitalize;
}

.text-uppercase {
	text-transform: uppercase;
}

$text-alignments: center, right, left, justify;
@each $alignment in $text-alignments {
	.text-#{$alignment} {
		text-align: $alignment;
	}
}

.error-text {
	color: var(--error-color);
}

.accent-text {
	color: var(--accent-color);
}

.dark-gray-text {
	color: var(--dark-gray);
}

.text-white {
	color: var(--white-color);
}

.text-black {
	color: var(--black-color);
}

// POSITION UTILITIES
$positions: relative, absolute;
@each $position in $positions {
	.position-#{$position} {
		position: $position;
	}
}

// FLEX UTILITIES
.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.items-start {
	align-items: flex-start;
}

.content-center {
	justify-content: center;
}

// WIDTH PROPERTIES
.w-100 {
	width: 100%;
}

// DISPLAY PROPERTIES
$displays: block, inline-block, grid, flex, inline-flex;
@each $display in $displays {
	.#{$display} {
		display: $display;
	}
}

$font-weights: 400, 500, 600, 700;
@each $font-weight in $font-weights {
	.weight-#{$font-weight} {
		font-weight: $font-weight;
	}
}

.hide-on-desktop {
	display: block;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.hide-on-mobile {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
	}
}

// PAGE UTILITIES
.page-layout-margin {
	margin-top: 7.1rem;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 768px) {
		margin-top: 9.6rem;
	}
}

.page__title {
	text-transform: capitalize;

	@media screen and (min-width: 768px) {
		text-align: center;
	}
}
